.posts {
  padding: 10px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px) saturate(120%);

  .btnWrapper {
    margin: 10px 0;
    .btn {
      cursor: pointer;
      padding: 5px 10px;
      margin-right: 10px;
    }
  }
  .postItem {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.277);
  }
  .userName {
    color: rgb(86, 255, 112);
  }
}
